<h1>you fell in love with: <%= thingVar %> </h1>


<% if (thingVar === "toffee"){ %>
    <p>Good choice, Toffee is the best!</p>
<% } else {%>
    <p>Bad choice, you should have said Toffee!</p>
<% };%> 
<p>this is the ejs file</p>