<% include partials/header %>



<h1>Welcome to the posts-page!</h1>

<% posts.forEach(function(post){ %>
    <h2><%= post.title %></h2>
    <h3><%= post.author %></h3>
<% }); %>

<% include partials/footer %>
